<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>EfetuarLogin</servlet-name>
        <servlet-class>controle.EfetuarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controle.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controle.ExcluirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controle.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controle.InserirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controle.InserirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controle.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controle.GerenciarMenuPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirProprietario</servlet-name>
        <servlet-class>controle.InserirProprietario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirComprador</servlet-name>
        <servlet-class>controle.InserirComprador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarImovel</servlet-name>
        <servlet-class>controle.AlterarImovel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirImovel</servlet-name>
        <servlet-class>controle.ExcluirImovel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProprietario</servlet-name>
        <servlet-class>controle.AlterarProprietario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProprietario</servlet-name>
        <servlet-class>controle.ExcluirProprietario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarComprador</servlet-name>
        <servlet-class>controle.AlterarComprador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirComprador</servlet-name>
        <servlet-class>controle.ExcluirComprador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCorretor</servlet-name>
        <servlet-class>controle.InserirCorretor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCorretor</servlet-name>
        <servlet-class>controle.AlterarCorretor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCorretor</servlet-name>
        <servlet-class>controle.ExcluirCorretor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirImovel</servlet-name>
        <servlet-class>controle.InserirImovel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirProprietariol2</servlet-name>
        <servlet-class>controle.InserirProprietario2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirRelatorio</servlet-name>
        <servlet-class>controle.InserirRelatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarRelatorio</servlet-name>
        <servlet-class>controle.AlterarRelatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirRelatorio</servlet-name>
        <servlet-class>controle.ExcluirRelatorio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EfetuarLogin</servlet-name>
        <url-pattern>/efetuar_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/inserir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/inserir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirProprietario</servlet-name>
        <url-pattern>/inserir_proprietario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirComprador</servlet-name>
        <url-pattern>/inserir_comprador.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarImovel</servlet-name>
        <url-pattern>/alterar_imovel.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirImovel</servlet-name>
        <url-pattern>/excluir_imovel.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProprietario</servlet-name>
        <url-pattern>/alterar_proprietario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProprietario</servlet-name>
        <url-pattern>/excluir_proprietario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarComprador</servlet-name>
        <url-pattern>/alterar_comprador.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirComprador</servlet-name>
        <url-pattern>/excluir_comprador.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCorretor</servlet-name>
        <url-pattern>/inserir_corretor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCorretor</servlet-name>
        <url-pattern>/alterar_corretor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCorretor</servlet-name>
        <url-pattern>/excluir_corretor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirImovel</servlet-name>
        <url-pattern>/inserir_imovel.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirProprietariol2</servlet-name>
        <url-pattern>/inserir_proprietario2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarRelatorio</servlet-name>
        <url-pattern>/alterar_relatorio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirRelatorio</servlet-name>
        <url-pattern>/inserir_relatorio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirRelatorio</servlet-name>
        <url-pattern>/excluir_relatorio.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
