.opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% da altura da viewport, ajuste conforme necessário */
  width: 100%; /* 100% da largura da viewport */
  text-align: center; /* Centraliza o texto dentro da div */
}

.opcoes h3 {
  margin-bottom: 20px; /* Adicione margem inferior conforme necessário */
}

.opcoes table {
  width: 100%; /* Ajuste conforme necessário */
  border-collapse: collapse; /* Para remover espaçamento entre células */
}

.opcoes td {
  padding: 8px; /* Ajuste conforme necessário */
}