.login {
  position: fixed;
  top: 0px;
  right: 0;
  padding: 10px;
}
.home{
   padding: 30px;
   margin: auto;
}


.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    background-color: #fff;
}

