
.navbar {
    /* Cor de fundo da barra de navegação */
}



.login {
    position: fixed;
    top: 10px;
    font-size: 18px;
    right: 10px;
    color: blue;
    /* Cor do texto do login */
}

.home {
    padding: 0px;
   margin: auto;
    /* Centraliza o texto do menu */
}

/* Estilo para o link dentro da tabela */
.home a {
    color: blue;
    /* Cor do link do menu */
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para o link ao passar o mouse */
.home a:hover {
    color: green;
    /* Cor do link ao passar o mouse */
}

li{
    padding-right: 30px;
}